.nav-links:hover {
    color: #ffc107 !important;
    transform: scale(1.2) !important;

}

.nav-links {
    color: #f97316 !important;
    font-size: 18px !important;
    font-weight: 700 !important;
    transition: all 0.5s ease-in-out !important;
}

.divider {
    border-top: 1px solid #fff !important;
}
